* {
    margin: 0;
    padding: 0;
}


body { background-image: url(https://madeinvilnius.lt/wp-content/uploads/2017/05/bananas-698608_1280.jpg );
    background-size:cover;
   background-repeat: no-repeat;
  

   
}


span {color:rgba(0, 128, 0, 0.747) ;}

.logo {width: 60px;
    float: left;
    margin-left: 150px;
}

header {background-color: white;
    display: flex;
    justify-content: space-between;
  position: fixed;
    top: 0;
    
 }

nav{
    width: 600px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
  
  

}
 a {
   color: black;
   font-size: 1.2em;
   text-decoration: none;
   border-bottom: 1px solid black;
  
 
  
}
a::before {
   content: "";
    position: absolute;
    width: 57px;
    height: 3%;
    left: 1;
    background: linear-gradient(blue , yellow);
    transition: 0.3s;
    opacity: 0;
  
}
a:hover::before {
    transform: translateX(65%);
    opacity: 0.7;
}
a::after {
   content: "";
    position: absolute;
    width: 57px;
    height: 3%;
    left: 1;
    background: linear-gradient(yellow , green,red );
    transition: 0.3s;
    opacity: 0;
    contain: content;
  
}
a:hover::after {
    transform: translateX(-147%);
    opacity: 0.7;
    transition-delay: 0.5s;
}

a:hover {
   border-bottom: none;
  
}
main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
   
}
h1 {
    margin: 10px;
}


input,label,textarea {
 width: 95%;
 margin-left: 10px;
 margin-right: 20px;
 margin: 20px;

}
input {
    line-height: 40px;
}
.submit {
    background-color: rgba(0, 128, 0, 0.747);
    color: white;
    border: none;
    width: 40%;
   
}
.submit:hover {
    cursor: pointer;
    padding: 10px;
    box-shadow: 5px 10px green;
}

table {
    text-align: center;
    font-weight: 600;
    width: 90%;
    margin: 50px;
   
  

}
td,th {  border: 1px solid rgba(0, 0, 255, 0.055);
}


td:first-of-type {
    color: rgba(0, 128, 0, 0.747);
}
footer {
    background-color: white;
    font-weight: bolder;
    font-size: 1em;
    padding: 5px;
    text-align: center;
    position: fixed;
   bottom:0;
   left: 0;
   width:100%;
   padding: 10px;
  
   
}
